
<html>
    <head>
        <% include ./bitPartials/head %>     
    </head>
    <body>  
        <% include ./bitPartials/bitcoinNav %>
        <div class="container home home-welcome">
            <div class="jumbotron" style="padding-top: 1px;padding-right: 10px;background-color:#e7e7e7"> 
                <h3 style='font-size: 20;'>Transactions</h3>
                <input id="clip_target" type="text" value="" style="position:absolute;top:-9999em;"/>
            </div>
            <div>
                <div class="contentBox">

                    <div class="col-lg-6 mb-4 mb-lg-0" style="margin-top: 10px;">FROM</div>
                    <div class="col-lg-6 mb-4 mb-lg-0" style="margin-top: 10px;">TO</div>
                </div>     
                <div class="contentBox">                    
                    <% if(block.length != 0){%>                        
                        <% block.forEach(function(post) { %>
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <div class="card h-100">
                                    
                                    <hr class="hr-space">
                                    <div class="js-scrollbar card-body overflow-hidden mCustomScrollbar _mCS_1 mCS-autoHide" style="height: 120px; position: relative; overflow: visible;">
                                        <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                                            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">                                                                                            
                                                <%
                                                    var checkFlag = false; 
                                                    post.vout.forEach(function(result) {                                                    
                                                %>                                                   
                                                    <% if(checkFlag != true) { 
                                                        checkFlag = true;
                                                    %>
                                                        <div class="row">
                                                            <div class="col-sm-1">                                                                                                                                                                                                                                
                                                                <p title="transaction Hash">Hash</p>                                                                                                                                                                                                                                              
                                                            </div>                                                                                                               
                                                            <div class="d-none d-sm-block" style="width: 600px;padding-top: 0px;">
                                                                <p class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap" title="<%=post.txid%>"><a class="copyfn" value="<%=post.txid%>"><%=post.txid%></a></p>
                                                            </div>                                                                                                                                                               
                                                        </div>
                                                    <% } else { %>                                                                                                                
                                                        <div class="row"><div class="col-sm-4"><p></p></div>                                                                                                               
                                                        <div class="d-none d-sm-block" style="width: 600px;padding-top: 0px;"><p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 300px;height: 20px;" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap" title="<%=post.txid%>"></p></div>                                                                                                               
                                                    <% } %>
                                                <% }) %>                                                                                                                                              
                                                <div class="d-none d-sm-block" style="width: 600px;padding-top: 0px;"><p style="padding-left: 150px;" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap">-></p></div></div>
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                            </div>                         
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <div class="card h-100">
                                    
                                    <hr class="hr-space">
                                    <div class="js-scrollbar card-body overflow-hidden mCustomScrollbar _mCS_1 mCS-autoHide" style="height: 120px; position: relative; overflow: visible;">
                                        <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                                            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">                                                    
                                                <% 
                                                    var totalValue = 0;
                                                    post.vout.forEach(function(result) { 
                                                %>
                                                    <% if(result != "") { %>   
                                                        <div class="row">
                                                            <% if(result.addresses != "") { %>
                                                                <div class="col-sm-4">                                                                                                                                                                                                                                
                                                                    <p title="<%=result.addresses%>" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap"><%=result.addresses%></p>                                                                                                                                                                                                                                              
                                                                </div>
                                                            <% } else { %>
                                                                <div class="col-sm-4">                                                                                                                                                                                                                                
                                                                    <p title="<%=result.addresses%>" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap">CAN NOT FIND</p>                                                                                                                                                                                                                                              
                                                                </div>   
                                                            <% } %>    
                                                            <% if(result.value != "") { %>
                                                                <div class="d-none d-sm-block" style="width: 600px;padding-top: 0px;">                                                            
                                                                    <p style="padding-left: 150px;" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap"><%=result.value%> BTC</p>                                                                                                                                                                
                                                                </div>
                                                            <% } else { %>
                                                                <div class="d-none d-sm-block" style="width: 600px;padding-top: 0px;">                                                            
                                                                    <p style="padding-left: 150px;" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap">CAN NOT FIND</p>                                                                                                                                                                
                                                                </div> 
                                                            <% } %>                                                                                                                                                                                                                             
                                                        </div>
                                                    <% } else { %>
                                                        <div class="row">
                                                            <div class="col-sm-4">                                                                                                                                                                                                                                
                                                                <p title="<%=result.addresses%>" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap">CAN NOT FIND</p>                                                                                                                                                                                                                                              
                                                            </div>
                                                            <div class="d-none d-sm-block" style="width: 600px;padding-top: 0px;">                                                            
                                                                <p style="padding-left: 150px;" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap">CAN NOT FIND</p>                                                                                                                                                                
                                                            </div>                                                                                                                                                                      
                                                        </div>
                                                    <% }
                                                        totalValue += result.value; 
                                                    %>
                                                    <% }) %>                                                                                                                                             
                                                <div class="d-none d-sm-block" style="width: 600px;padding-top: 0px;">
                                                    <p name="total" style="display: block;color: rgb(0, 135, 90);cursor: pointer;width: fit-content !important;padding: 0.25rem;background: rgb(209, 240, 219);border-width: 1px;border-style: solid;border-color: rgb(209, 240, 219);border-image: initial;border-radius: 0.25rem;padding-left: 325px;" class="u-label u-label--xs u-label--badge-in u-label--secondary text-center text-nowrap" opacity="1"><%=totalValue%> BTC</p>
                                                </div>                                   
                                            </div>
                                        </div>                      
                                    </div>
                                </div>
                            </div>
                        <% }) %>     
                    <% } else {%>
                        <div><ul></ul></div>
                        <table class="table table-striped posts">
                            <thead>
                                <tr>
                                    <th class="Txn Hash">A Total of 0 transactions</th>
                                </tr>
                            </thead>
                            <tbody>  
                                <tr>
                                    <td>Txn Hash</td>
                                    <td>Block</td>
                                    <td>Age</td>
                                </tr>
                                <tr>
                                    <td class="Txn Hash">
                                        <a><div>there is 0 transactions</div></a>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    <% } %>  
                </div>
            </div>              
        </div>
    </body>
</html>

    