<html>
    <head>
        <% include ./ethPartials/head %>
    </head>
    <body>
        <% include ./ethPartials/ethMain/ethereumNav %>
        <% include ./ethPartials/choices %>
        <% include ./ethPartials/flatpickr %>
        <% include ./ethPartials/custom-masterilaize %>
        <style type="text/css">
            .signBody {
                color: #fff;
                background: #26a5ee;
                font-family: 'Roboto', sans-serif;
            }
            .form-control, .form-control:focus, .input-group-addon {
                border-color: #e1e1e1;
            }
            .form-control, .btn {
                border-radius: 3px;
            }
            .signup-form {
                width: 390px;
                margin: 0 auto;
                padding: 30px 0;
            }
            .signup-form form {
                color: #999;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }
            .signup-form h2 {
                color: #333;
                font-weight: bold;
                margin-top: 0;
            }
            .signup-form hr {
                margin: 0 -30px 20px;
            }
            .signup-form .form-group {
                margin-bottom: 20px;
            }
            .signup-form label {
                font-weight: normal;
                font-size: 13px;
            }
            .signup-form .form-control {
                min-height: 38px;
                box-shadow: none !important;
            }
            .signup-form .input-group-addon {
                max-width: 42px;
                text-align: center;
            }
            .signup-form input[type="checkbox"] {
                margin-top: 2px;
            }
            .signup-form .btn{
                font-size: 16px;
                font-weight: bold;
                background: #19aa8d;
                border: none;
                min-width: 140px;
            }
            .signup-form .btn:hover, .signup-form .btn:focus {
                background: #179b81;
                outline: none;
            }
            .signup-form a {
                color: #fff;
                text-decoration: underline;
            }
            .signup-form a:hover {
                text-decoration: none;
            }
            .signup-form form a {
                color: #19aa8d;
                text-decoration: none;
            }
            .signup-form form a:hover {
                text-decoration: underline;
            }
            .signup-form .fa {
                font-size: 21px;
            }
            .signup-form .fa-paper-plane {
                font-size: 18px;
            }
            .signup-form .fa-check {
                color: #fff;
                left: 17px;
                top: 18px;
                font-size: 7px;
                position: absolute;
            }
        </style>
        <script>
            $(document).ready(function(){

            });
        </script>
        <div class="container home home-welcome">
            <div class='signBody'>
                <div class="signup-form">
                    <form action="/ethereum/regSignUp" method="post">
                        <h2>Sign Up</h2>
                        <p>Please fill in this form to create an account!</p>
                        <hr>
                        <div class="form-group <%= (errors.username)?'has-error':'' %>">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" value="<%= user.username %>" class="form-control" name="username" placeholder="Username" required="required">
                                <% if(errors.username){ %>
                                    <span class="help-block"><%= errors.username.message %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group <%= (errors.useremail)?'has-error':'' %>">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                                <input type="email" class="form-control" name="useremail" placeholder="Email Address" required="required" value="<%= user.useremail %>">
                                <% if(errors.useremail){ %>
                                    <span class="help-block"><%= errors.useremail.message %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group <%= (errors.password)?'has-error':'' %>">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Password" required="required" value="">
                                <% if(errors.password){ %>
                                    <span class="help-block"><%= errors.password.message %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group <%= (errors.passwordConfirmation)?'has-error':'' %>">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                    <i class="fa fa-check"></i>
                                </span>
                                <input type="password" class="form-control" name="passwordConfirmation" placeholder="Confirm Password" required="required" value="">
                                <% if(errors.passwordConfirmation){ %>
                                    <span class="help-block"><%= errors.passwordConfirmation.message %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                        </div>
                        <% if(errors.unhandled){ %>
                            <div class="alert alert-danger">
                                <%= errors.unhandled %>
                            </div>
                        <% } %>
                    </form>
                    <div class="text-center">Already have an account? <a href="/ethereum/logIn">Login here</a></div>
                </div>
            </div>
        </div>
    </body>
</html>
